<%= form_for @user, :url => { :action => "update" } do |f| %>
<table>
<tr><td><%= f.label :first_name %>:</td><td>
  <%= f.text_field :first_name %></td></tr>
<tr><td>  <%= f.label :last_name %>:</td><td>
  <%= f.text_field :last_name %></td></tr>
<tr><td>  <%= f.label :email %>:</td><td>
  <%= f.text_field :email %></td></tr>
<tr><td>  <%= f.label :city %>:</td><td>
  <%= f.text_field :city %></td></tr>
</table>
<%= f.submit %>
<% end %>