<div id="LeftMenu">
<ul id="RightSideList">
<li><%= link_to "Sample Preparation", tutorialshow_path(:id =>"1") %></li>
<li><%= link_to "Data Collection", tutorialshow_path(:id =>"2") %></li>
<li><%= link_to "Data Submission", tutorialshow_path(:id =>"8") %></li>
</ul>

<p><b>Sc&#8491;tter</b></p>
<ul id="RightSideList">
	<li><%= link_to "Scatter | Download", tutorialshow_path(:id =>"9") %></li>
	<li><%= link_to "Loading Files", tutorialshow_path(:id =>"10") %></li>
	<li><%= link_to "Saving Files", tutorialshow_path(:id =>"29") %></li>
	<li><%= link_to "Cross-Sectional Rg", tutorialshow_path(:id =>"11") %></li>
	<li><%= link_to "Flexibility Analysis", tutorialshow_path(:id =>"12") %></li>
	<li><%= link_to "Guinier Analysis", tutorialshow_path(:id =>"4") %></li>	
	<li><%= link_to "Guinier Peak Analysis", tutorialshow_path(:id =>"30") %></li>		
	<li><%= link_to "Kratky Analysis", tutorialshow_path(:id =>"6") %></li>
	<li><%= link_to "Normalized Kratky", tutorialshow_path(:id =>"21") %></li>	
	<li><%= link_to "Porod Volume", tutorialshow_path(:id =>"14") %></li>
	<li><%= link_to "Porod Exponent", tutorialshow_path(:id =>"14") %></li>
	<li><%= link_to "P(r) Distribution", tutorialshow_path(:id =>"15") %></li>
	<li><%= link_to "P(r) PDB Calc", tutorialshow_path(:id =>"27") %></li>	
	<li><%= link_to "Protein/RNA Mass", tutorialshow_path(:id =>"16") %></li>
    <li><%= link_to "Ratio", tutorialshow_path(:id =>"18") %></li>		
    <li><%= link_to "Scaling", tutorialshow_path(:id =>"19") %></li>
    <li><%= link_to "Subtraction", tutorialshow_path(:id =>"26") %></li>
    <li><%= link_to "SEC-SAXS", tutorialshow_path(:id =>"28") %></li>
	<li><%= link_to "Volume-of-Correlation", tutorialshow_path(:id =>"13") %></li>		
</ul>
<p><b>Advanced</b></p>
<ul id="RightSideList">
	<li><%= link_to "Data Quality", tutorialshow_path(:id =>"20") %></li>
	<li><%= link_to "Merging", tutorialshow_path(:id =>"17") %></li>				
	<li><%= link_to "Buffer Subtraction", tutorialshow_path(:id =>"23") %></li>
	<li><%= link_to "DAMMIN/F", tutorialshow_path(:id =>"25") %></li>				
</ul>

<p><b>MISC</b></p>
<ul id="RightSideList">
	<li><%= link_to "General Scatter", tutorialshow_path(:id =>"22") %></li>
</ul>
<p><b>THEORY</b></p>
<ul id="RightSideList">
    <li><%= link_to "Guinier Derivation", tutorialshow_path(:id =>"7") %></li>	
	<li><%= link_to "P(r) Distribution", tutorialshow_path(:id =>"5") %></li>
	<li><%= link_to "Information Content", tutorialshow_path(:id =>"24") %></li>
</ul>
</div>