<div id="LeftMenu"><p><span class="white_text">Useful Links</span></p>
<ul id="RightSideList">
<li><b>SOURCES</b></li>
<li><%= link_to "SIBYLS (ALS)", "http://bl1231.als.lbl.gov" %></li>
<li><%= link_to "BioSAXS MacCHESS", "http://www.macchess.cornell.edu/MacCHESS/biosaxs_whatis.html" %></li>

<li><%= link_to "B21 (DLS)", "http://www.diamond.ac.uk/Beamlines/Soft-Condensed-Matter/small-angle/B21.html" %></li>
<li><%= link_to "SWING (SOLEIL)","http://www.synchrotron-soleil.fr/Recherche/LignesLumiere/SWING"%></li>
<li><%= link_to "P12 (EMBL)","http://www.embl-hamburg.de/biosaxs/"%></li>
<li><%= link_to "BM29 (ESRF)", "http://www.esrf.eu/UsersAndScience/Experiments/MX/About_our_beamlines/BM29"%></li>

<li><%= link_to "BL4-2 (SSRL)", "http://www-ssrl.slac.stanford.edu/~saxs/index.htm"%></li>
<li><%= link_to "SAXS (AU)", "https://www.synchrotron.org.au/aussyncbeamlines/saxswaxs"%></li>

<li><b>INFO</b></li>
<li><%= link_to "SAXIER Forum", "http://www.saxier.org/forum/" %></li>
<li><%= link_to "Mooers SAS page", "http://structuralbiology.ou.edu/Websites/StructuralBiologyCOBRE/images/SAXS28feb2013.html" %></li>

<li><%= link_to "SAXS-n-SITUS", "http://www.msg.ucsf.edu/local/programs/Situs/tutorial_saxs.html" %></li>

<li><b>CALCULATORS</b></li>
<li><%= link_to "FOXS", "http://modbase.compbio.ucsf.edu/foxs/index.html" %></li>
<li><%= link_to "AquaSAXS", "http://lorentz.dynstr.pasteur.fr/aquasaxs/BioIsis/index.php" %></li>
<li><%= link_to "WAXSiS", "http://waxsis.uni-goettingen.de" %></li>
<li><%= link_to "SAXS MoW", "http://www.if.sc.usp.br/~saxs/" %></li>
<li><b>MODELERS</b></li>
<li><%= link_to "ALLOSMOD FOXS", "http://modbase.compbio.ucsf.edu/allosmod-foxs/" %></li>
<li><%= link_to "DENFERT", "http://www.synchrotron-soleil.fr/Recherche/LignesLumiere/SWING/denfert" %>


</ul>
</div>
